<%- include header %>
<p>
<% if (user && (user.name == post.name)) { %>
  <span><a class="edit" href="/edit/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">Edit</a></span>
  <span><a class="edit" href="/remove/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">Delete</a></span>
<% } %>
</p>
<p class="info">
Author: <a href="/u/<%= post.name %>"><%= post.name %></a> | 
Date:  <%= post.time.minute %>
Tags: 
  <% post.tags.forEach(function (tag, index) { %>
    <% if (tag) { %>
      <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
    <% } %>
  <% }) %>
</p>
<p><%- post.post %></p>
<p class="info">Visits:<%= post.pv %> | Comments:<%= post.comments.length     %></p>
<%- include comment %>
<%- include footer %>
