<br />
<% post.comments.forEach(function (comment, index) { %>
  <div style="padding-left:4em">
    <p><img src="<%= comment.head %>" class="l_head" /><a href="<%= comment.website %>"><%= comment.name %></a>
    <span class="info"> Commented at <%= comment.time %></span></p>
    <p><%- comment.content %></p>
  </div>
<% }) %>

<form method="post">
<% if (user) { %>
  Name: <input type="text" name="name" value="<%= user.name %>" /><br />
  Email:  <input type="text" name="email" value="<%= user.email %>" /><br />
  URL:  <input type="text" name="website" value="/u/<%= user.name %>" /><br />
<% } else { %>
  Name: <input type="text" name="name" /><br />
  Email:  <input type="text" name="email" /><br />
  URL:  <input type="text" name="website" value="http://" /><br />
<% } %>
  <textarea name="content" rows="5" cols="80"></textarea><br />
  <input type="submit" value="Comment" />
</form>
